.img {
    max-height: 60%;
    max-width: 60%;
}
.img-right {
    align: right;
}

.center-div {
    max-width: 100%;
    max-height: 100%;
    /*margin: auto;*/
    /*display: flex;*/
    align-items: center;
    justify-content: center;

}
.chess-div {
    max-width: 55%;
    max-height: 55%;
    margin: auto;

}

.large-div {
    /*width: 800px;*/
    /*height: 187px;*/
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/*.img-transparent {*/
    /*!*background-color: white;*!*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*!*object-fit: cover;*!*/
    /*display: block;*/
/*}*/

table.center {
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 { color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px; font-weight: 300;
    line-height: 32px;
    margin: 0 0 10px;
    text-align: center;
}


p { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}