.img {
    max-height: 90%;
    max-width: 90%;
    /*border-radius: 40%;*/
}
.img-right {
    max-height: 100%;
    max-width: 100%;
    z-index: 1000;
    padding: 10%;
}

.menu-item {
    position: relative !important;
    /*top: 20px !important;*/
    /*bottom: 20px !important;*/
    max-width: 100% !important;
    max-height: 80% !important;
    height: 20% !important;

    padding: 10% !important;
    /*padding: 20px 20px !important;*/
}
.button-s {
    /*width: 100%;*/
    height: 100% !important;
    /*min-height: 20%;*/
    /*height: 500px;*/
    /*position: relative !important;*/
    /*background: pink !important;*/
    /*z-index: 100 !important;*/
    /*display: table-cell !important;*/
    /*text-align: center !important;*/
    /*margin: auto !important;*/
}
.sidebar-button-div {

    position: fixed;
    top: 0;
    left: 0;
    max-height: 8%;
    max-width: 8%;
    /*z-index: 19999;*/
    /*width: 10%;*/
    /*height: 10% !important;*/
    /*text-align: center !important;*/
    /*min-height: 20% !important;*/
    z-index: 1000000 !important;
    padding: 1% !important;
    /*display: table-cell !important;*/

    /*margin: auto;*/
    /*background: pink !important;*/
    /*background-size: cover !important;*/
    /*overflow-y: auto;*/
    /*text-align: center;*/

}
.resume-div {
    margin: auto;
    height: 95%;
    width: 50%;
    bottom: 0;
    top: 0;
    position: relative;
    max-width: 60%;
    max-height: 100%;
    /*background-color: pink;*/
}
.background {
    top: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 0;
}

.paper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 1% !important;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("../images/background.jpg") !important;
    background-size: cover !important;
    overflow-y: auto;
    text-align: center;

}
.about-paper {
    display: inline-block;
    background: dimgrey !important;
    width: 80% !important;
    height: 80% !important;
    text-align: center !important;
}
.left-drawer {
    /*top: 0px !important;*/
    /*top: 25% !important;*/
    /*vertical-align: center;*/
    /*max-height: 50%;*/
    /*transition-duration: 4000ms;*/
    text-align: left !important;
    width: 8% !important;
    transform: translate(0%, 0px) !important;
    background: transparent !important;
}

.center-div {
    max-width: 100%;
    max-height: 100%;
    height: 90%;
    width: 100%;
    background-color: #8cd0d3;
    align-items: center;
    justify-content: center;

}

.img-terminator {
    background: transparent !important;
    bottom: 0;
    left: 50%;
    position: fixed;

}
.img-selfie {
    background: transparent;
    max-height: 90%;
    max-width: 90%;
    float: left;
    padding: 3% 3% 0;
    border-radius: 80%;
}
.img-postgres {
    background: transparent;
    max-height: 50%;
    max-width: 50%;
}
.img-icon {
    max-height: 100%;
    max-width: 100%;
}
.div-home-git {
    max-height: 20%;
    max-width: 20%;
    float: right;
    background-color: pink;
}
.banner-div {
    max-width: 100%;
    max-height: 40%;
    top: 20%;
    background: transparent;
    position: fixed;
    /*z-index: 1;*/

}
.about-hold-div {
    max-width: 100%;
    max-height: 100%;
    /*top: 25%;*/
    padding: 3%;
    /*right: 0;*/
    text-align: center;
    margin: auto;
    /*background-color: pink;*/

}
.selfie-div {
    max-width: 30%;
    max-height: 100%;
    /*background-color: rebeccapurple;*/
    /*padding: 2%;*/
    z-index: 1000000;
    /*float: left;*/
    /*text-align: right;*/
    /*padding: 2%;*/
}
.about-div {
    max-width: 90%;
    min-width: 90%;
    max-height: 90%;
    display: inline-block;
    border: 2px solid white;
    /*padding: 2%;*/
    /*position: fixed;*/
    /*top: 25%;*/
    /*right: 0;*/
    /*transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s !important;*/
    /*opacity: 1 !important;*/
    text-align: left;
    /*margin: auto;*/
    /*background-color: grey;*/
    /*float: right;*/

}
.stuff-div {
    max-width: 50%;
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: gray;
}

.haskell-div {
    max-width: 65%;
    text-align: left;
    margin: auto;
    padding: 20px;
    background-color: gray;
}
.haskell2-div {
    max-width: 65%;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: gray;
}
.inline-div {
    width: 40%;
    display: inline-block;
    text-align: left;
    margin: auto;
    padding: 10px;
}
.name-div {
    max-width: 100%;
    max-height: 30%;
    /*position: fixed;*/
    /*padding-top: 5%;*/
    padding-bottom: 1%;
    /*top: 30%;*/

    right: 28%;
    text-align: center;
    margin: auto;

}
.banner-div:hover {
    background-color: #6b6bb8 !important;
}
.chess-top-div {
    max-width: 100%;
    margin: auto;
    text-align: center;
    /*z-index: 999;*/
}
.chess-div {
    max-width: 45%;
    max-height: 45%;
    height: 40%;
    width: 40%;
    margin: auto;
    /*padding-bottom: 100px;*/
    padding-bottom: 10%;
    /*z-index: 999;*/
}

.chat-div {
    max-width: 50%;
    max-height: 50%;
    height: 90%;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    background-color: #6b6bb8;
    /*z-index: 999;*/
}
.chat-info-div {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
}
.chess-info-div {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 100%;
    right: 0;
    top: 0;
    /*bottom: 0;*/
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
}
.chess-space-div {
    margin: auto;
    height: 200px;
    z-index: 1000;
}
.photo-div {
    padding-top: 2%;
    /*display: inline-block;*/
    /*position: fixed;*/
    /*height: 100px;*/
    /*width: 300px;*/
    /*left: 50%;*/
    /*right: 50%;*/
    /*top: 50%;*/
    /*background: transparent;*/
    /*float: right;*/
    /*text-align: center;*/
    position: relative;
    margin: auto;
    max-height: 10%;
    max-width: 20%;
    /*background: #6b6bb8;*/
}

@font-face {
    font-family: GraublauWeb;
    src: url("../fonts/TradeMark Demo.otf") format("opentype");
}

.caligraphy {
    text-align: center;
    font-family: 'GraublauWeb';
    vertical-align: middle;

}

.vertical-menu {
    position: fixed;
    top: 15%;
    width: 14%;
    bottom: 0;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.large-div {
    /*width: 800px;*/
    /*height: 187px;*/
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.left-div {
    margin-left: -10%;
    position: fixed;
    top: 0;
    left: 10%;
    bottom: 0;
    width: 14%;
    z-index: 1000;
    background: #144d53;
    overflow-y: auto;
    padding-top: 1.5em;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}


h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 { color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px; font-weight: 300;
    font-weight: lighter;
    line-height: 32px;
    margin: 0 0 10px;
    text-align: center;
    display: inline-block;
}

h3 { color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px; font-weight: 300;
    font-weight: lighter;
    line-height: 32px;
    margin: 0 0 10px;
    text-align: center;
    display: inline-block;
}

p { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }


table {
    table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fade-enter {
    opacity: 0.01;
    transform: scale(1.1);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
}
