.img-circle {
    /*max-width: 90%;*/
    /*max-height: 90%;*/
    /*background: white;*/
}

.center-div {
    max-width: 50%;
    max-height: 100%;
    margin: auto;

}

.large-div {
    /*width: 800px;*/
    /*height: 187px;*/
    max-width: 50%;
    max-height: 5%;
    margin: auto;

}

.img-transparent {
    /*background-color: white;*/
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
    /*display: block;*/
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

